

  .topnav {
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffae00;
  }

  .topnav2 {
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffae00;
    text-align: center;
  }

  .navText {
    float: right;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .title{
    float: left;
    color: #b300ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #b300ff;
    border-radius: 5px;
    transform: scale(0.95);
    color: black;
  }

  .topnav input[type=text] {
    position: relative;
    align-items: center;
    margin-left: 35%; 
    border-radius: 5px;
    padding: 6px;
    margin-top: 8px;
    margin-right: 0px;
    border: none;
    font-size: 17px;
    background-color: #383434 ;
  }

   .topnav a.active {
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:#121212;
    transition: 0.3s;
    height: 10;
    width: 100;
    border-radius: 5px;
    content: "";
    clear: both;
    display: table;
    margin-top: 10px;
  }

  .cardSearch {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:#121212;
    transition: 0.3s;
    height: 500px;
    width: 100;
    border-radius: 5px;
    content: "";
    clear: both;
    display: table;
    margin-top: 10px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .cardF {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:#121212;
    transition: 0.3s;
    max-width:  1200px;
    height: 350px;
    border-radius: 5px;
    clear: both;
    display: table;
    margin-top: 10px;
    display: inline-block;
	 text-align: center;
	 margin-left: 400px;

  }

   .cardLogin {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-size: cover;
  border-radius: 5px;
  background-color: #ffae00;
  width: 300px;
  height: 400px;
  margin:  auto;
  margin-top: 10%;
  }

  .column {
    float: left;
    width: 20%;
  }

  .username {
    font-size: 15px;
    display: flex;
    width: 180px;
    color: white;
  }

  .username:before {
    content: "@";
    padding-left: 10px;
    color: white;
  }

  .review{
    display: inline-block;
    font-size: 15px;
    width: 500px;
    color: white;
    margin-right: 30px;
    margin-left: -20px;
  }
   .columnR {
    float: left;
    width: 320px;
    height: 250px;
  }
  
  .wrapper {
    text-align: center;
  }

  .image, .form{
    display: inline-block;
    vertical-align: middle;
  }

  .dot {
    height: 15px;
    width: 15px;
    background-color: greenyellow;
    border-radius: 50%;
  }

  .star-widget input{
    display: none;
  }

  .star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
  }

  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    color: #ffae00;
  }

  input:checked ~ label{
    color: #ffae00;
  }
  
  .container { 
	margin: 25px auto; 
	position: relative; 
	border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=email], input[type=password] {
  width: 75%;
  padding: 12px 20px;
  margin: auto;
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 7px;
  text-align: center;
  justify-content: center;
  margin-top: 10PX;
}

/* Set a style for all buttons */
button {
	background-color: #b300ff;
    border-radius: 5px;
    transform: scale(0.95);
    color: black;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	width: 65%;
  display: flex;
	margin: auto;
    margin-top: 10px;
  text-align: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

h1{
	color: white;
	text-align: center;
}

.checked {
  color: orange;
}

.reveiwDiv{
   margin: auto;
}

.content{
  justify-content: center;
}

.logText{
  margin-top:  auto;
}